<?xml version="1.0" encoding="UTF-8"?>
<!-- Licensed to the Apache Software Foundation (ASF) under one or more contributor 
	license agreements. See the NOTICE file distributed with this work for additional 
	information regarding copyright ownership. The ASF licenses this file to 
	You under the Apache License, Version 2.0 (the "License"); you may not use 
	this file except in compliance with the License. You may obtain a copy of 
	the License at http://www.apache.org/licenses/LICENSE-2.0 Unless required 
	by applicable law or agreed to in writing, software distributed under the 
	License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS 
	OF ANY KIND, either express or implied. See the License for the specific 
	language governing permissions and limitations under the License. -->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs" xmlns:camel="http://camel.apache.org/schema/spring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://camel.apache.org/schema/spring
	http://camel.apache.org/schema/spring/camel-spring.xsd
	http://camel.apache.org/schema/cxf 
    http://camel.apache.org/schema/cxf/camel-cxf.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://cxf.apache.org/jaxrs
	http://cxf.apache.org/schemas/jaxrs.xsd">
	<!-- We still need it for loading the CXFServlet -->

	<context:annotation-config />

	<import resource="camel-cxf.xml" />

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<bean name="delegateProcessor" class="com.kanjih.camel.processor.DelegateProcessor" />
	<bean name="aposProcuraNomeProcessor" class="com.kanjih.camel.processor.AposProcuraNomeProcessor" />





	<camelContext xmlns="http://camel.apache.org/schema/spring">
		<camel:package>
			com.kanjih.camel.ws
		</camel:package>
		
		<camel:dataFormats>
			<camel:json id="jack" library="Jackson" />
		</camel:dataFormats>

		<camel:onException>
			<camel:exception>java.lang.Exception</camel:exception>
			<camel:exception>java.lang.RuntimeException</camel:exception>
			<camel:exception>org.apache.camel.CamelExchangeException</camel:exception>
			<camel:setHeader headerName="operationName">
				<camel:constant>animaisJogo</camel:constant>
			</camel:setHeader>
			<camel:log message="Chamada de Excp" />
			<camel:to uri="cxf:bean:jogoBichoSoapEndpoint" />
		</camel:onException>

		<camel:route>
			<camel:from uri="cxfrs:bean:integradorServer" />
			<camel:log message="Iniciando" />
			<camel:process ref="delegateProcessor" />
			<camel:log message="Antes da primeira Chamada" />
			<camel:setHeader headerName="operationName">
				<camel:constant>procurarPorAnimal</camel:constant>
			</camel:setHeader>
			<camel:to uri="cxf:bean:jogoBichoSoapEndpoint" />
			<camel:process ref="aposProcuraNomeProcessor" />
			<camel:choice>
				<camel:when>
					<simple>${in.header.ACTION}</simple>
					<camel:log message="Foi invocado Cobra" />
					<camel:setHeader headerName="operationName">
						<camel:constant>procurarPorAnimal</camel:constant>
					</camel:setHeader>
					<camel:to uri="cxf:bean:jogoBichoSoapEndpoint" />
				</camel:when>
			</camel:choice>
			<camel:marshal ref="jack" />
		</camel:route>
		
	</camelContext>

</beans>
